body {
margin:0px;
padding:0px;
}
.header-area {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 125px;
}
.header-area .top-header {
    width: 100%;
    height: 95px;
}
.h-100 {
    height: 100%!important;
}
.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}


nav {
  background: #eaebec;
  min-height: 85px;
}
 .calling-info {
    position: relative;
    padding-left: 80px;
    overflow: hidden;
    left: 0px;
}
.classy-nav-container * {
    box-sizing: border-box;
}
 .calling-info .call-center {
    position: relative;
    z-index: 1;
    background: #f73b11;
    background: -webkit-linear-gradient(to right, #f73b11, #f99b43);
    background: linear-gradient(to right, #f73b11, #f99b43);
    padding: 0 40px;
    line-height: 85px;
    height: 85px;
}
 .calling-info .call-center:before {
    position: absolute;
    width: 50px;
    height: 120%;
    top: 3px;
    left: -28px;
    z-index: 1;
    background-color: #f73b11;
    content: '';
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
 .calling-info .call-center a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    display: block;
}

 





/*#myBtn{
	    width:40px;
	    height:40px;
	    opacity:0.3;
	    position:fixed;
	    bottom:50px;
	    right:100px;
	    display:none;
	    text-indent:-9999px;
	    background: url('../images/scroll-top.png') no-repeat;
	}*/


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f73b11; /* Set a background color */
    color: white; /* Text color */
    background-image: url('../images/scroll-top.png');
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
  
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


footer p{
    text-align:center;
}


 .calling1-info .call-center1 {
    position: relative;
    z-index: 2;
    background: #f73b11;
    /*background: -webkit-linear-gradient(to right, #f73b11, #f99b43);*/
    background-color: #f73b11;
    padding: 0 40px;
    line-height: 85px;
    height: 85px;
}
 .calling1-info .call-center1:before {
    position:absolute;
    width: 50px;
    height: 120%;
    top: 3px;
    left: 58px;
    z-index: 1;
    background-color: #f73b11;
    content: '';
    -webkit-transform: rotate(149deg);
    transform: rotate(149deg);
}
 .calling1-info {
    position: relative;
    padding-right: 80px;
    overflow: hidden;
}

 @media screen and (max-width: 600px) {
     .call-center1 {
          display:none !important;
    /*position: relative;
    z-index: 2;
    background: #f73b11;
    /*background: -webkit-linear-gradient(to right, #f73b11, #f99b43);*/
    /*background-color: #f73b11;
    padding: 0 0px;
    line-height: 85px;
    height: 85px;*/*/

}
 .call-center1:before {
      display:none !important;
    /*position:absolute;
    width: 0px;
    height: 0%;
    top: 3px;
    left: 58px;
    z-index: 1;
    background-color: #f73b11;
    content: '';
    -webkit-transform: rotate(149deg);
    transform: rotate(149deg);*/
}
 .calling1-info {
      display:none !important;
    /*position: relative;
    padding-right: 0px;
    overflow: hidden;*/
}

   .calling-info .call-center {
        display:none !important;
    /*position: relative;
    z-index: 2;
    background: #f73b11;*/
    /*background: -webkit-linear-gradient(to right, #f73b11, #f99b43);*/
    /*background-color: #f73b11;
    padding: 0 0px;
    line-height: 85px;
    height: 85px;*/
}
 .calling-info .call-center:before {
      display:none !important;
    /*position:absolute;
    width: 0px;
    height: 0%;
    top: 3px;
    left: 58px;
    z-index: 1;
    background-color: #f73b11;
    content: '';
    -webkit-transform: rotate(149deg);
    transform: rotate(149deg);*/
}
 .calling-info {
      display:none !important;
    /*position: relative;
    padding-right: 40px;
    overflow: hidden;*/
}
 }