
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="~/css/Services.css" rel="stylesheet" />


        <div class="breadcumb-area bg-img ">
            <div class="bradcumbContent">
                <h2>Services</h2>
            </div>
        </div>

<div class="container">
    <div class="wthree_head_section">
    </div>

    <div class="row about-info-grids">
        <div class="col-md-4 about-info about-info1">
            <i class="fa fa-bus"></i>
            <h4>Coaching</h4>
            <div class="h4-underline"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="col-md-4 about-info about-info2">
            <i class="fa fa-book"></i>
            <h4>Certified Tutors</h4>
            <div class="h4-underline"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="col-md-4 about-info about-info3">
            <i class="fa fa-codepen"></i>
            <h4>Infant Care</h4>
            <div class="h4-underline"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
    </div>
    <div class="bord"></div>
    <div class="row about-info-grids">
        <div class="col-md-4 about-info about-info1">
            <i class="fa fa-university"></i>
            <h4>Certified Tutors</h4>
            <div class="h4-underline"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="col-md-4 about-info about-info2">
            <i class="fa fa-folder"></i>
            <h4>Coaching</h4>
            <div class="h4-underline"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="col-md-4 about-info about-info3">
            <i class="fa fa-graduation-cap"></i>
            <h4>Infant Care</h4>
            <div class="h4-underline"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
    </div>
</div>





<section class="projects_w3ls">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="w3l_header">Services Overview</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        </div>
        <div class="row projects_w3ls_top">
            <div class="col-md-4 projects_w3ls_left">
                <img class="img-fluid" src="~/images/g4.jpg" alt="">
                <h4>Praesent Sapien</h4>
                <p>Donec sollicitudin molestie malesua. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>

            </div>
            <div class="col-md-4 projects_w3ls_left">
                <img class="img-fluid" src="~/images/g2.jpg" alt="">
                <h4>Praesent Sapien</h4>
                <p>Donec sollicitudin molestie malesua. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>

            </div>
            <div class="col-md-4 projects_w3ls_left">
                <img class="img-fluid" src="~/images/g8.jpg" alt="">
                <h4>Praesent Sapien</h4>
                <p>Donec sollicitudin molestie malesua. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>

            </div>

        </div>
    </div>
</section>