
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/Admin/index.css" rel="stylesheet" />
   
</head>
<body>
    <div class="container-fluid">
        <div class="sec_head">
            <h3>Fees Details</h3>
        </div>
        <div class="row ">
            <div class="col-md-6 col-md-offset-1 sec-common">
                <div class="input-group ">
                    <label>Reciept No:</label>
                    <input type="text" />
                    <br>
                    <label>Payment Date:</label>
                    <input type="date">
                    <br>
                    <label>Student Name:</label>
                    <select class="sec_stud">
                        <option value="Student1">Student1</option>
                        <option value="Student2">Student2</option>
                        <option value="Student3">Student3</option>
                        <option value="Student4">Student4</option>
                    </select>
                    <br>
                    <label>Registration No:</label>
                    <input type="text" />
                    <br>
                    <label>Cousre:</label>
                    <input type="text" />
                    <br>
                    <label>Course Fees:</label>
                    <input type="text" />
                    <br>
                    <label>Fees Balanced:</label>
                    <input type="text" />
                    <br>
                    <label>Installmaent Paid:</label>
                    <input type="text" />
                    <br>
                    <label>Fees Due:</label>
                    <input type="text" />
                    <br>
                    <label>Next Installment Due Date:</label>
                    <input type="date" />
                    <br>

                </div>
            </div>
            <div class="col-md-5 sec-rcommon">
                <input type="file" name="fileupload" value="fileupload" id="fileupload">
                <input type="button"  value="upload" />


            </div>
           
        </div>
        <div class="container sec-foot">
            <div class="row">
                <div class="col-md-offset-4">
                    <input type="button" value="Save" />
                    <input type="button" value="Print" />
                    <input type="button" value="clear" />
                    <input type="button" value="Close" />
                    <input type="button" value="Update" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
