body{
        background: linear-gradient(to right, #f73b11, #f99b43);

}
.sec-haed1{
  margin: 20px 5px;
    padding: 20px;
    background-color: white;
}
.sec-haed2{
  padding: 20px;
    background-color: lightgray;
}
  label{
            margin:15px;
           
            width:140px;
        }
        .sec-common input{
            margin:0px 15px;
            width:200px;
            border-top: solid; 
        }
        .sec_head{

          margin-top:40px;
          font-style: italic;
          font-family: -webkit-pictograph;
         color: #000;

margin-bottom: 10px;
        }
       .sec_head h3{
            text-align:center;
            padding:10px;
        
            
        }
        .sec_stud option{
            color:black;
        }
        .sec_stud{
            margin-left:15px;
             border-top: solid;
        }
        .sec-rcommon input{
            border-top: solid;
            margin:15px;
           
        }
       
        .sec-foot input{
           
            margin:15px;
            
        }

        /*.roww{
            border: 1px solid rgb(0,0,0);
            background-color:gray;
            box-shadow: 2px 2px 2px black;
           
        }*/